# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# SQLite database
db.sqlite3

# Django migrations
**/migrations/*.py
**/migrations/*.pyc
!*/migrations/__init__.py

# Static and media
/staticfiles/
/media/

# Local env
.env

# VS Code and IDEs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
