{% extends 'donateapp/base.html' %} 
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4"><h1>Register Here</h1></legend>
	{% if form.errors %}
	<div class="alert alert-danger">
  	 <ul>
    	   {% for field in form %}
      	     {% for error in field.errors %}
        	 <li>{{ error }}</li>
      	     {% endfor %}
    	   {% endfor %}
    	   {% for error in form.non_field_errors %}
      	     <li>{{ error }}</li>
           {% endfor %}
         </ul>
        </div>
        {% endif %}
      {{form|crispy}}
    </fieldset>
    <div class="form-group">
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button type="submit" class = "btn btn-outline-info">Register</button>
    </div>
  </form>
  <div class="border-top pt-4">
    <small class="text-muted">Already have an account?
      <a class="ml-2" href="{% url 'login' %}"><font class = "text-primary" >Login</font></a>
    </small>
  </div>
</div>
{% endblock content %}